# Non-package files
*mnist*
*landmine/logs*
*BO_landmine.py*

# System files
*DS_Store*
*pycache*
*.idea*

# PyPI upload files
dist*
*egg-info*

# Sphinx build files
docs/build*
*auto_examples*
build*

# Testing files
.coverage
.pytest_cache